<div id="elixir-radar" class="widget">
  <h3 class="widget-title">Elixir 雷达</h3>
  <p>
    Plataformatec 总结的 Elixir 相关内容的周刊邮件。 <strong>点击下面的按钮开始订阅</strong>.
  </p>
  <div class="elixir-radar-cta">
    <div class="cta-copy">
      <div class="cta-title">
        Elixir 雷达
      </div>
      <div class="cta-subtitle">
        周刊邮件
      </div>
    </div>
    <div class="cta-button-container">
      <a href="http://plataformatec.com.br/elixir-radar?utm_campaign=elixir_lang_cta&utm_medium=cta&utm_source=elixir_lang_website" class="cta-button">
        现在订阅
      </a>
    </div>
  </div>
</div>
