<div class="widget">
  <h3 class="widget-title">加入社区</h3>
  <ul>
    <li><a class="spec" href="irc://irc.freenode.net/elixir-lang">#elixir-lang on freenode IRC</a></li>
    <li><a class="spec" href="https://elixir-slackin.herokuapp.com/">Elixir on Slack</a></li>
    <li><a class="spec" href="http://elixirforum.com">Elixir 论坛</a></li>
    <li><a class="spec" href="https://groups.google.com/group/elixir-lang-talk">elixir-talk 邮件列表</a></li>
    <li><a class="spec" href="https://twitter.com/elixirlang">@elixirlang on Twitter</a></li>
    <li><a class="spec" href="http://elixir.meetup.com">全世界的活动</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/wiki">社区整理的关于活动，资源，演讲的 Wiki</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">重要链接</h3>
  <ul>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir">源码</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir/issues">Issue tracker</a></li>
    <li><a class="spec" href="https://groups.google.com/group/elixir-lang-core">elixir-core 邮件列表 (development)</a></li>
    <li><a class="spec" href="/crash-course.html">Crash course for Erlang 开发者</a></li>
  </ul>
</div>
